body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 700px;
  height: 900px;
}
/* top sites styling */
li:nth-child(odd) { 
  background: #E6FBFF; 
}
li {
  margin-bottom: 5px;
  padding: 1px;
}
#top-sites-content ol {
  margin: 0px auto;
}
.nav-button {
  border: 1px solid black;
  margin-bottom: 1px;
  padding: 5px;
}
#nav-wrapper {
  overflow: hidden; /* will contain if #sites-button is longer than #pie-chart-button */
}
#top-sites-button {
  width: 45%;
  float: left;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}
#pie-chart-button {
  width: 45%;
  float: right;
}
#pie-chart-content {
  width: auto;
  margin:0px auto;
}
#chart svg {
  height: 400px;
  width: 600px; 
}
.nvtooltip {
    font-size: 12px;
    margin: 10px;
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
.nvtooltip.hidden {
    display: none;
}
.nvtooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}
g.nv-slice {
  transition: fill 1s, stroke 1s;
}
g.nv-slice:hover {
  fill: black;
  stroke: black;
}
