body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 700px;
  height: 900px;
}
/* top sites styling */
li:nth-child(odd) { 
  background: #E6FBFF; 
}
li {
  margin-bottom: 5px;
  padding: 1px;
}
#top-sites-content ol {
  margin: 0px auto;
}
.nav-button {
  border: 1px solid black;
  margin-bottom: 1px;
  padding: 5px;
}
#nav-wrapper {
  overflow: hidden; /* will contain if #sites-button is longer than 
                       #pie-chart-button */
}
#top-sites-button {
  width: 45%;
  float: left;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}
#pie-chart-button {
  width: 45%;
  float: right;
}
#pie-chart-content {
  width: 600px;
  margin:0px auto;
}
#chart svg {
  height: 400px;
  width: 600px; 
}
.nvtooltip {
}