/*general styling*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}
#main-content {
  border: 1px solid black;
  margin-top: -2px;
  width: 600px;
  height: 500px;
  padding: 5px;
  background-color: #FCFCFC;
}
.nav-button {
  border: 1px solid black;
  margin-bottom: 1px;
  padding: 5px;
  cursor: pointer;
}
#nav-wrapper {
  overflow: hidden;
}
h2 {
  font-weight: 300;
  margin-left: 10px;
}
#loading-icon {
  width:600px;
  height:500px;
  position:fixed;
  z-index:9999;
  background:url('img/spinner.gif') no-repeat center center rgba(0,0,0,0.25)
}
svg {
  width: 600px; 
  height: 400px;
}
/* top-sites tab */
#top-sites-content ol {
  margin: 0px auto;
  line-height: 2rem;
}
#top-sites-button {
  width: 30%;
  float: left;
  overflow: hidden; /* if you don't want #second to wrap below #first */
  border-bottom-color: #FCFCFC;
  background-color: #FCFCFC;
}
li:nth-child(odd) { 
  background: white; 
}
li {
  margin-bottom: 5px;
  padding: 1px;
  padding-left: 5px;
}
/*pie-chart tab*/
#pie-chart-button {
  width: 30%;
  float: right;
}
#pie-chart-content {
  width: auto;
  margin:0px auto;
}
/*chart specific*/
.nvtooltip {
    font-size: 12px;
    margin: 10px;
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
.nvtooltip.hidden {
    display: none;
}
.nvtooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}
g.nv-slice {
  transition: fill 1s, stroke 1s;
}
g.nv-slice:hover {
  fill: black;
  stroke: black;
}

/*timeseries tab*/
#timeseries-button {
  width: 30%;
  float: left;
  margin-left: 13px;
}

#timeseries-chart svg {
  font-size: 11px;
}